<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
<ul>
    {{range .}}
    <li>{{.}}</li>
    <do it> {{.}} </do it>
    {{end}}
</ul>
</body>
</html>
