<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

Data={{.}}

Double={{. | fdbl}}

Double/Square={{. | fdbl | fsqr}}

Double/Square/SqRoot={{. | fdbl | fsqr | fsqrt}}

Num2Text: {{.}} - {{ . | fn2t}}

</body>
</html>